header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    width: max-content;
    gap: 50px;
    display: flex;
    justify-content: space-between;
}

.logout {
    
}